#root, body, html {
  height: 100%;
  width: 100%;
}
.App {
  text-align: center;
  height: 100%;
}

.App-header {
  height: 100px;
  border-bottom: 1px solid grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
